
 body {
    font-family: 'Poppins', sans-serif;
  }

  
  h2 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #2596be;
}

#copertina-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.8; 
  }
  #copertina-testo {
    margin-top: -150px; /* Sposta il testo di 50 pixel verso l'alto */
  }
h1 {
  font-size: 80px;
  color: black;
  text-align: start;
 
}


  .card-wrapper {
    margin-bottom: 30px;
  }
  
  .card-image .card .card-img-wrapper {
    height: 100%;
  }
  
  .card-image .card .card-body {
    display: none;
  }
  
  .card-image-title-description .card .card-img-wrapper {
    max-height: 70%; 
    overflow: hidden;
  }
  
  .card-image-title-description .card {
    position: relative;
    min-height: 300px;
  }
  
  .card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -50px;
  }
  
  .card-image-title-description .card:hover .card-body {
    top: -50px;
  }
  
  .card-image-title-description .card .card-body .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
  }
  
  .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  
  .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%; 
    overflow: hidden;
  }
  
  .card-img-wrapper img {
    transition: 1.5s ease;
  }
  
  .card:hover .card-img-wrapper img {
    transform: scale(1.15);
  }
  
  .card-body .card-title {
    margin-bottom: calc(70% + 20px); 
    transition: 1.5s ease;
  }
  
  .card:hover .card-body .card-title {
    margin-bottom: 0.75rem;
  }
  .card-img-top{
    height: 100%;
  }
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%; 
    background-color: #fff;
    transition: 1.5s ease;
  }
  
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  
  .card:hover .card-body {
    height: 80%;
  }
  
  .card:hover .card-content {
    bottom: 0;
  }
 
  body {
    margin: 0;
    background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
  }
 
  
  .travel-link {
    color: #2e92a9;
    text-decoration: none;
  }

  .travel-link:hover {
    color: #2e92a9;
    text-decoration: underline;
  }
  .carousel-item{
    height: 450px;
    opacity: 90%;
  }
  .carousel-caption{
    opacity: 100%;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  } 
  
  
  .footer {
    color: white;
    margin-top: 80px;
    background-color: #366880;
    background-size: 2000px;
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.footer img {
    width: 30px;
    height: 30px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 70px !important;
}